body{
    background-color:  #FFC600;
    margin: 0;
   
}

.container-grid{
    width: 1200;
    margin: 0 auto;
}



.container_imagem{

    
    width: 270px;
    left: 100px;
    margin-left: 40%;
    margin-top: 35px;

}

.menu{
    display: inline-flex;
    margin-left: 31%;
     
}
a{
    color: #FFC600;
    text-decoration: none;
}
.container_item{
    margin-left: 20px ;
    background-color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;

}

ul li{
    align-items: center;
    background: #FFC600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 60px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    list-style: none;
    position: relative;
    transition: 0.5s;
    width: 60px;
}
ul li:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    width: 180px;
}
ul li::before{
    background: linear-gradient(45deg, var(--i), var(--j));
    border-radius: 60px;
    content: '';
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
}
ul li:hover::before{
    opacity: 1;
}
ul li::after{
    background: linear-gradient(45deg, var(--i), var(--j));
    content: '';
    filter: blur(15px);
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 10px;
    transition: 0.5s;
    width: 100%;
    z-index: -1;
}
ul li:hover::after{
    opacity: 0.5;
}

ul li ion-icon{
    color: #777;
    font-size: 1.75rem;
    transition: 0.5s;
}
ul li:hover ion-icon{
    color: #fff;
    transform: scale(0);
    transition-delay: 0;
}
ul li span{
    position: absolute;
}
ul li .text{
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transform: scale(0);
    transition-delay: 0s;
    transition: 0.5s;
}

ul li:hover .text{
    transform: scale(1);
    transition-delay: 0.25;
}

.simbolo{
    position: relative;
    width: 320px;
    margin-left: 820px;
    margin-top: 10px;
}

#barras{
    height: 20px;
    display:none ;
}

.plano_black{
    position: absolute;
    background: black;
    width: 600px;
    height: 500px;
    border-radius: 15px;
    
}

.carro{
    margin-left: 115px;
}

.txt{
    text-align: center;
    color: #FFC600;
    font-family: 'Open Sans', sans-serif;
}

.link{
    font-size: 20px;
    margin-left: 240px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.serviços{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-left: 920px;
    color: #000000;
    margin-top: 80px;

}

.lista{
    position: absolute;
    margin-left: 640px;
    margin-top: 55px;
}

.serviço{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

.titulo{
display: inline;
}

.txt2{
    position: absolute;
    margin-top: 400px;
    margin-left: 500px;
    color: #000000;
    font-size: 30px;
}

.youtube{
    margin-top: 450px;
    margin-left: 370px;
}

.conheça{
    margin-left: 400px;
    color: #000000;
    font-size: 30px;
}



.mapa{
    width: 800px;
    height: 200px;
    margin-left: 250px;
    border-radius: 10px;
}

.rodape{
    width: 100%;
    background: #000000;
    margin-top: 30px;
}

.lista_rodape{
    display: inline-flex;
}
.icone_rodape{
    width: 450px;
    margin-left: 50px;
    margin-top: 15px;
}

    
@media screen and (max-width: 1200px) {
    .container-grid{
        width: 1000px;
    }
}

@media screen and (max-width: 1000px) {

    .container-grid{
        width: 800px;
    }

    .container_imagem{

        margin-left: 100px;
    }
    

    #barras{
        display: inline-block;
        margin-left: 225px;
    }

    .menu{
    
        display: none;
       

    }
    
}



